{
  "extends": [
    "plugin:bpmn-io/browser",
    "plugin:bpmn-io/jsx",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "import/first": "error"
  },
  "plugins": [
    "import"
  ],
  "overrides": [
    {
      "files": [
        "karma.config.js"
      ],
      "extends": [
        "plugin:bpmn-io/node"
      ]
    }
  ]
}